<h3 class="tright">Le dernier billet</h3>
<% post = @posts.shift %>
<div class="posts">
  <h2><a href="/<%= post.id %>.html"><%= post.title %></a></h2>
  <small><%= human_date post.published_on %></small>
  
  <div><%= post.body_html %></div>
  <div class="meta-comments">(<%= post.comments.size %> commentaires)</div>
</div>

<hr />
<h3 class="tright">Les anciens billets</h3>
<% unless @posts.empty? %>
<% @posts.each do |post| %>
<div class="posts-excerpt">
  <h3><a href="/<%= post.id %>.html"><%= post.title %></a></h3>
  <small><%= human_date post.published_on %> &mdash;</small>
  
  <span class="perex"><%= post.perex %> (<%= post.comments.size %> commentaires)</span>
</div>
<% end %>
<% else %>
<p>Pas d'anciens billets. Ce blog est tout neuf!</p>
<% end %>