<h3>Le dernier billet</h3>
<% post = @posts.shift %>
<div class="posts">
  <h2><a href="/<%= post.id %>.html"><%= post.title %></a></h2>
  <small><%= human_date post.published_on %></small>
  
  <div><%= post.body_html %></div>
  <div class="meta-comments">(<%= post.comments.size %> commentaires)</div>
</div>

<hr />
<h3>Les ancien billets</h3>
<% @posts.each do |post| %>
<div class="posts-excerpt">
  <h3><a href="/<%= post.id %>.html"><%= post.title %></a></h3>
  <small><%= human_date post.published_on %> &mdash;</small>
  
  <span class="perex"><%= post.perex %> (<%= post.comments.size %> commentaires)</span>
</div>
<% end %>

